@model PhotoApp.Web.Areas.Admin.Models.IndexViewModel

<div class="container-fluid">
    <div class="row dash-row">
        <div class="col-xl-4">
            <div class="stats stats-primary">
                <h3 class="stats-title"> Users </h3>
                <div class="stats-content">
                    <div class="stats-icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="stats-data">
                        <div class="stats-number">@Model.TotalUsersCount</div>
                        <div class="stats-change">
                            <span class="stats-percentage">@Model.NewUsersCount</span>
                            <span class="stats-timeframe">new users</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="stats stats-success ">
                <h3 class="stats-title"> Photos </h3>
                <div class="stats-content">
                    <div class="stats-icon">
                        <i class="fas fa-image"></i>
                    </div>
                    <div class="stats-data">
                        <div class="stats-number">@Model.TotalPhotosCount</div>
                        <div class="stats-change">
                            <span class="stats-percentage">@Model.NewPhotosCount</span>
                            <span class="stats-timeframe">new photos</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="stats stats-danger">
                <h3 class="stats-title"> New reports </h3>
                <div class="stats-content">
                    <div class="stats-icon">
                        <i class="fas fa-exclamation-triangle"></i>
                    </div>
                    <div class="stats-data">
                        <div class="stats-number">@Model.NewReportsCount</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row dash-row">
        <div class="col-xl-4">
            <div class="stats stats-light">
                <h3 class="stats-title"> Upcoming Challanges</h3>
                <div class="stats-content">
                    <div class="stats-icon">
                        <i class="fas fa-hourglass-start"></i>
                    </div>
                    <div class="stats-data">
                        <div class="stats-number">@Model.UpcomingChallangesCount</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="stats stats-secondary ">
                <h3 class="stats-title"> Ongoing Challanges </h3>
                <div class="stats-content">
                    <div class="stats-icon">
                        <i class="fas fa-hourglass-half"></i>
                    </div>
                    <div class="stats-data">
                        <div class="stats-number">@Model.OpenChallangeCount</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="stats stats-dark">
                <h3 class="stats-title"> Closed Challanges </h3>
                <div class="stats-content">
                    <div class="stats-icon">
                        <i class="fas fa-hourglass-end"></i>
                    </div>
                    <div class="stats-data">
                        <div class="stats-number">@Model.ClosedChallangesCount</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
