@model PhotoApp.Web.ViewModels.ChallangeViewModel

<div class="ml-2 mr-2">
    <div class="card text-center ">
        <div class="containerPhoto">
            <img src="@Model.TopPhotoLink"
                 class="m-2" width="99%" alt="Alternate Text" />
            <div class="centered ">@Model.Name</div>
            <div class="centered1 back rounded ">
                @Model.Description
            </div>
            <button id="rate" class="btn btn-primary btn-lg centered3 ">Rate photos</button>

            @if ((Model.IsOpen == true) || (Model.IsUpcoming == false))
            {
                <!-- Button trigger modal -->
                <button id="uploadButton" type="button" class="btn btn-primary btn-lg centered4" data-toggle="modal" data-target="#exampleModal">
                    Upload Photo
                </button>


                <!-- Modal -->
                <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-dark" id="exampleModalLabel">Upload</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-dark ulpoadForm">
                                <form method="post" enctype="multipart/form-data" asp-controller="Challanges" asp-action="Upload">
                                    <input type="file" name="files" multiple />
                                    <input type="number" name="challangeId" value="@Model.Id" hidden />
                                    <button type="submit" value="Upload">Upload</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <button type="button" class="btn btn-primary btn-lg centered4" disabled>
                    Upload Photo
                </button>
            }

        </div>
        <div class="card-body">

        </div>
    </div>
    <div id="photos">
        <div class="card mt-3">
            <div class="card-body">
                <div id="photosContainer" class="row">
                    <div class="card-columns">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p id="challangeId" hidden>@Model.Id</p>
    <p id="userId" hidden>@Model.UserId</p>

</div>
<div class="container">

</div>

@section Scripts{
    <script>

        var TotalPhotos;
        var StepsCount;
        var likes = [];

        $(document).ready(function () {
            $("#photos").hide();

        });
        $("#rate").click(
            function () {
                $("#photos").show();
                $("#rate").prop('disabled', true)
            }
        )



        //SingulaR for loading photos

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/load")
            .build();

        connection.on("GetPhotos",
            function (model) {

                if ($('#rate').prop('disabled')) {
                    var i;
                    for (i = 0; i < model.photos.length; i++) {
                        $(".card-columns").append(`<div class="card show"><img src="${model.photos[i].photoLink}" class="card-img-top" alt="..."><button id="${model.photos[i].photoId}" class="btn btn-danger centered5" type="submit" onclick="like(this.id)">Like</button></div>`)
                    }

                    if ((model.isOpen === false) || model.isUpcoming === true) {
                        $("#uploadButton").prop('disabled', true);
                        $(".centered5").hide();
                    }
               
                    TotalPhotos = model.photosCount;
                    StepsCount = model.stepsCount;
                }
            }
        );

        var uid1 = document.getElementById("userId").textContent;

        $("#rate").click(function () {

            var loadInfo =
            {
                totalPhotos: TotalPhotos,
                stepsCount: StepsCount,
                challangeId: @Model.Id,
                userId: uid1,
            };

            connection.invoke("LoadPhotos", loadInfo);
        }
        );


        $(window).on("scroll", function () {


            if ($('#rate').prop('disabled')) {
                if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {

                var loadInfo =
                {
                    totalPhotos: TotalPhotos,
                    stepsCount: StepsCount,
                    challangeId: @Model.Id,
                    userId: uid1,
                };

                    connection.invoke("LoadPhotos", loadInfo);
                }
            }
        });

        connection.start();



        function addLike(id) {

            var uid = document.getElementById("userId").textContent;
            var chid = document.getElementById("challangeId").textContent;

            document.getElementById(id).innerHTML = "Liked";

            var likeInfo =
            {
                photoId: id,
                userId: uid,
                challangeId: chid,
            };

            $.ajax({
                type: 'POST',
                url: "https://localhost:44371/Api/AddLike",
                data: likeInfo,
                dataType: "text",
            });
        }


        function removeLike(id) {

            var uid = document.getElementById("userId").textContent;
            var chid = document.getElementById("challangeId").textContent;

            document.getElementById(id).innerHTML = "Like";


            var likeInfo =
            {
                photoId: id,
                userId: uid,
                challangeId: chid,
            };

            $.ajax({
                type: 'DELETE',
                url: "https://localhost:44371/Api/RemoveLike",
                data: likeInfo,
                dataType: "text",
            });
        }



        function like(id) {
            if (likes.indexOf(id) === -1) {
                likes.push(id);

                document.getElementById(id).classList.remove('btn-danger');
                document.getElementById(id).classList.add('btn-success');

                addLike(id);
            }
            else {
                let index = likes.indexOf(id);
                delete likes[index];

                document.getElementById(id).classList.remove('btn-success');
                document.getElementById(id).classList.add('btn-danger');

                removeLike(id);
            }

            likes = likes.filter(function (el) {
                return el != null && el != '';
            });

        }

    </script>
}
