@model PhotoApp.Web.ViewModels.ChallangeViewModel

@{
    ViewData["Title"] = "Home Page";

}

<section>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12">
                <div id="ss" class="text-center"
                     style="background: url('https://www.photoblog.com/learn/wp-content/uploads/2017/06/34961973010_6c8c9b5b47_h.jpg');">
                    <div class="mt-5">
                        <h1 id="name rounded "><span class="op text-white rounded-pill p-3">@Model.Name</span> </h1>
                    </div>
                    <div class="container rounded-pill text-white p-3 mt-5 op">
                        <p>
                            @Model.Description
                        </p>
                    </div>
                    <div id="bts" class="container pt-5 mt-5">
                        <div class="row">
                            @if (Model.IsOpen)
                            {
                                <div class="col-md-4">
                                    <button id="rate" class="btn btn-info btn-lg" data-toggle="modal"
                                            data-target="#myModal">
                                        <i class="fas fa-star"></i>
                                        Rate photos
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <a asp-controller="Challanges" asp-action="ChallangePhotos" asp-route-id="@Model.Id" class="btn btn-info btn-lg">
                                        <i class="fas fa-photo-video"></i>
                                        Challenge Photos
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#exampleModal">
                                        <i class="fas fa-upload"></i>
                                        Upload photo
                                    </button>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-4">
                                    <button id="rate" class="btn btn-info btn-lg" data-toggle="modal"
                                            disabled>
                                        <i class="fas fa-star"></i>
                                        Rate photos
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <a asp-controller="Challanges" asp-action="ChallangePhotos" asp-route-id="@Model.Id" class="btn btn-info btn-lg">
                                        <i class="fas fa-photo-video"></i>
                                        Challenge Photos
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#exampleModalLong" disabled>
                                        <i class="fas fa-upload"></i>
                                        Upload photo
                                    </button>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="exampleModalLabel">Upload</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-dark ulpoadForm">
                    <form method="post" enctype="multipart/form-data" asp-controller="Challanges" asp-action="Upload">
                        <input type="file" name="files" multiple />
                        <input type="number" name="challangeId" value="@Model.Id" hidden />
                        <button type="submit" value="Upload">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>

    <div id="photos mt-5">
        <div class="card mt-3">
            <div id="photoBox" class="card-body">
                <div id="photosContainer">
                    <div class="card-columns row">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p id="challangeId" hidden>@Model.Id</p>
    <p id="userId" hidden>@Model.UserId</p>

    </div>
    <div class="container">

    </div>
</section>
    @section Scripts{
        <script>

        var TotalPhotos = 0;
        var PhotosSend = 0;
        var likes = [];
        var morePhotos = false;
        var actualPhotosPacket = 0;


        $(document).ready(function () {
            $("#photos").hide();

        });
        $("#rate").click(
            function () {
                $("#photos").show();
                $("#rate").prop('disabled', true)
            }
        )



        //SingulaR for loading photos

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/load")
            .build();

        var uid1 = document.getElementById("userId").textContent;

        @*connection.on("GetPhotos",
            function (model) {
                TotalPhotos = model.totalPhotos;

                if (PhotosSend != TotalPhotos) {
                    if ($('#rate').prop('disabled')) {
                        var i;
                        for (i = 0; i < model.photos.length; i++) {
                            $(".card-columns").append(`<div class="card show"><img src="${model.photos[i].photoLink}" class="card-img-top" alt="..."><button id="${model.photos[i].photoId}" class="btn btn-danger centered5" type="submit" onclick="like(this.id)">Like</button></div>`)

                            PhotosSend++;
                        }

                        if ((model.isOpen === false) || model.isUpcoming === true) {
                            $("#uploadButton").prop('disabled', true);
                            $(".centered5").hide();
                        }

                    }
                }
            }
        );


        $("#rate").click(function () {

            var loadInfo =
            {
                totalPhotos: TotalPhotos,
                photosSend: PhotosSend,
                challangeId: @Model.Id,
                userId: uid1,
            };

            connection.invoke("LoadPhotos", loadInfo);
        }
        );


        $(window).on("scroll", function () {


            if ($('#rate').prop('disabled')) {
                if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {

                var loadInfo =
                {
                    totalPhotos: TotalPhotos,
                    photosSend: PhotosSend,
                    challangeId: @Model.Id,
                    userId: uid1,
                };

                    connection.invoke("LoadPhotos", loadInfo);
                }
            }
        });*@

        //NEW METHODS FOR LOADING

        connection.on("GetPhotosNew",
            function (model) {

                if ($('#rate').prop('disabled')) {

                    //$("#photoBox").append("<div id=\"loader\" class=\"d-flex justify-content-center\"><div class=\"spinner-border\" style=\"width: 10rem; height: 10rem;\" role=\"status\"><span class=\"sr-only\">Loading...</span></div></div>");

                    "<div id=\"loader\" class=\"d-flex justify-content-center\"><div class=\"spinner-border\" style=\"width: 10rem; height: 10rem;\" role=\"status\"><span class=\"sr-only\">Loading...</span></div></div>"

                    morePhotos = model.expectMorePhotos;
                    actualPhotosPacket += model.actualPhotosCount;

                    var i;

                        for (i = 0; i < model.photos.length; i++) {
                            $(".card-columns").append(`<div class="col-xl-3 col-lg-4 col-md-6 mb-4"><div class="bg-white rounded shadow-sm"><img src="${model.photos[i].photoLink}"alt="" class="img-fluid card-img-top"><div class="p-4"><div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4"><p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><button id="${model.photos[i].photoId}-r" class="btn btn-warning rounded-pill text-light" onclick="report(this.id)" ><i class="fas fa-exclamation-triangle"></i> Report</button></p><div><button id="${model.photos[i].photoId}" class="btn btn-danger rounded-pill text-light" type="submit" onclick="like(this.id)" > <i class="fas fa-thumbs-up"></i> Like</button></div></div></div></div></div>`)

                            PhotosSend++;
                        }


                }

            }
        );

        $("#rate").click(function () {

            var loadInfo =
            {
                totalPhotos: 0,
                photosSend: PhotosSend,
                challangeId: @Model.Id,
                userId: uid1,
                actualPhotosCount: actualPhotosPacket
            };

            connection.invoke("LoadPhotosNew", loadInfo);
        }
        );


        $(window).on("scroll", function () {

            if (morePhotos) {
                if ($('#rate').prop('disabled')) {
                    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {

                        var loadInfo =
                        {
                            totalPhotos: 0,
                            photosSend: PhotosSend,
                            challangeId: @Model.Id,
                            userId: uid1,
                            actualPhotosCount: actualPhotosPacket
                        };

                        connection.invoke("LoadPhotosNew", loadInfo);
                    }
                }
            }
        });


        connection.start();



        function addLike(id) {

            var uid = document.getElementById("userId").textContent;
            var chid = document.getElementById("challangeId").textContent;

            document.getElementById(id).innerHTML = "Liked";

            var likeInfo =
            {
                photoId: id,
                userId: uid,
                challangeId: chid,
            };

            $.ajax({
                type: 'POST',
                url: "https://localhost:44371/Api/AddLike",
                data: likeInfo,
                dataType: "text",
            });
        }


        function removeLike(id) {

            var uid = document.getElementById("userId").textContent;
            var chid = document.getElementById("challangeId").textContent;

            document.getElementById(id).innerHTML = "Like";


            var likeInfo =
            {
                photoId: id,
                userId: uid,
                challangeId: chid,
            };

            $.ajax({
                type: 'DELETE',
                url: "https://localhost:44371/Api/RemoveLike",
                data: likeInfo,
                dataType: "text",
            });
        }

        //function like(id) {

        //    if (likes.indexOf(id) === -1) {

        //        //Add Like

        //        alert(12121);

        //        likes.push(id);

        //        document.getElementById(id).classList.remove('btn-danger');
        //        document.getElementById(id).classList.add('btn-success');

        //        doc = document.getElementById(id);

        //        doc.innerHTML = "<i class=\"fas fa-thumbs-down\"></i> Dislike";

        //        removeLike(id);
        //    }
        //    else {
        //        //Remove Like

        //        let index = likes.indexOf(id);
        //        delete likes[index];

        //        document.getElementById(id).classList.remove('btn-success');
        //        document.getElementById(id).classList.add('btn-danger');

        //        doc = document.getElementById(id);

        //        doc.innerHTML = "<i class=\"fas fa-thumbs-up\"></i> Like";

        //        addLike(id);
        //    }
        //}

        function report(id) {
            document.getElementById(id).disabled = true;

            realId = id.substring(0, id.length - 2);


            var info =
            {
                photoId: realId
            };

            $.ajax({
                type: 'POST',
                url: "https://localhost:44371/Api/AddReport",
                data: info,
                dataType: "text",
            });

        }

        function like(id) {
            if (likes.indexOf(id) === -1) {
                likes.push(id);

                document.getElementById(id).classList.remove('btn-danger');
                document.getElementById(id).classList.add('btn-success');

                addLike(id);
            }
            else {
                let index = likes.indexOf(id);
                delete likes[index];

                document.getElementById(id).classList.remove('btn-success');
                document.getElementById(id).classList.add('btn-danger');

                removeLike(id);
            }

            likes = likes.filter(function (el) {
                return el != null && el != '';
            });

        }

        </script>
    }
