@model PhotoApp.Web.ViewModels.TopPhotosViewModel
@{
    ViewData["Title"] = "Top";

}


<div class="container-fluid mt-5 pt-5">
    <div class="px-lg-5 mt-5">
        <div id="content" class="row">
            @foreach (var photo in Model.Photos)
            {
                <!-- Gallery item -->
                <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                    <div class="bg-white rounded shadow-sm">
                        <img src="@photo.PhotoLink"
                             alt="" class="img-fluid card-img-top">
                        <div class="p-4">
                            <h5 class="text-center"> <a href="#" class="text-dark ">@photo.VotesCount Likes</a></h5>
                            <p class="small text-muted mb-0 text-center">Photo by @photo.Username</p>
                            <div class="d-flex align-items-center justify-content-center rounded-pill bg-light px-3 py-2 mt-4">
                                <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span>@photo.ChallangeName</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End -->
            }
        </div>
    </div>
</div>




    @section Scripts{
        <script>
    var photosSend1 = @Model.Photos.Count();
    var challangeId1 = @Model.ChallangeId;
    var photosCount1 = 0;

    var photosSentFE = @Model.Photos.Count();
    var expectMorePhotos = true;


    var connection = new signalR.HubConnectionBuilder()
            .withUrl("/load")
            .build();

        connection.on("GetAllTopPhotosNew",
        function (model) {

            expectMorePhotos = model.expectMorePhotos;

            var i;
            for (i = 0; i < model.photos.length; i++) {
                $("#content").append(`<div class="col-xl-3 col-lg-4 col-md-6 mb-4"><div class="bg-white rounded shadow-sm"><img src="${model.photos[i].photoLink}"alt="" class="img-fluid card-img-top"><div class="p-4"><h5 class="text-center"> <a href="#" class="text-dark ">${model.photos[i].votesCount} Likes</a></h5><p class="small text-muted mb-0 text-center">Photo by ${model.photos[i].username}</p><div class="d-flex align-items-center justify-content-center rounded-pill bg-light px-3 py-2 mt-4"><p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span>${model.photos[i].challangeName}</span></p></div></div></div></div>`);
                photosSentFE++;
            }
        }
    );


    $(window).on("scroll", function () {

        if (expectMorePhotos) {
            if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {

                var loadInfo =
                {
                    photosSent: photosSentFE
                };

                connection.invoke("LoadAllTopPhotosNew", loadInfo);
            }
        }
    });

    connection.start();

        </script>
    }
