@model PhotoApp.Web.ViewModels.UserViewModel


<div class="mx-auto pt-5 mt-5">
    <!-- Profile widget -->
    <div class="bg-white shadow rounded overflow-hidden">
        <div class="px-4 pt-0 pb-4 cover" style="background-image: url(@Model.CoverPhotoLink);">
            <div class="media align-items-end profile-head">
                <div class="profile mr-3">
                    <img src="@Model.ProfilePicLink"
                         alt="..." width="130" class="rounded mb-2 img-thumbnail">
                    @*<a href="#" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>*@
                <a id="chatBtn1" onclick="add()" class="btn btn-dark btn-sm btn-block">
                    Chat
                </a>
                </div>
                <div class="media-body mb-5 text-white">
                    <h4 class="mt-0 mb-0">@Model.FirstName @Model.LastName</h4>
                    <p class="mb-4">&#64;@Model.Username</p>
                </div>
            </div>
        </div>
        <div class="bg-light p-4 d-flex justify-content-start text-center">
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <h5 class="font-weight-bold mb-0 d-block">@Model.PhotosCount</h5><small class="text-muted">
                        <i class="fas fa-image mr-1"></i>Photos
                    </small>
                </li>
            </ul>
        </div>

        <div class="py-4 px-4">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h5 class="mb-0">Recent photos</h5>
            </div>

            <div class="container-fluid">
                <div class="px-lg-5">
                    <div class="row">
                        @foreach (var item in Model.PhotoLinks)
                        {
                            <!-- Gallery item -->
                            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                                <div class="bg-white rounded shadow-sm">
                                    <img src="@item.Link"
                                         alt="" class="img-fluid card-img-top">
                                </div>
                            </div>
                            <!-- End -->
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{ 
    <script>

      /*  "<div class=\"media media-chat media-chat-reverse\"><div class=\"media-body\"><p>Okay then see you on sunday!!</p></div></div>"*/



        function add() {
            openForm('@Model.FirstName @Model.LastName', '@Model.UserId');
        }
    </script>
}